.cards-container {
  border: 2px solid black;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.cards-container li {
  list-style: none;
  list-style-type: none;
}

.cards-items {
  text-align: center;

}
